[submodule "102-opentelemetry-spring-demo-app/spring-petclinic-microservices"]
	path = 102-opentelemetry-spring-demo-app/spring-petclinic
	url = https://github.com/spring-petclinic/spring-petclinic-microservices
