[submodule "102-opentelemtry-instrument-spring-petclinic-microservices/spring-petclinic-microservices"]
	path = 102-opentelemtry-instrument-spring-petclinic-microservices/spring-petclinic-microservices
	url = https://github.com/spring-petclinic/spring-petclinic-microservices
